<launch>
  <!-- point cloud -->
  <include file="$(find pedsim_sensors)/launch/obstacle_pcd_sensor.launch" />
  <include file="$(find pedsim_sensors)/launch/people_pcd_sensor.launch" />
  <node pkg="pedsim_sensors" type="pedsim_merge_sensor" name="pedsim_merge_sensor">

  </node>
  <node pkg="nodelet" type="nodelet" name="manager" args="manager"/>
  <!-- pointcloud_to_laserscan -->
  <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet manager">
    <remap from="cloud_in" to="/pedsim_merged_sensor/point_cloud_local"/>
    <remap from="scan" to="/pedsim_merged_sensor/scan_local"/>
    <rosparam>
      target_frame: base_link
      transform_tolerance: 0.01
      min_height: 0.0
      max_height: 1.0
      
      angle_min: -3.1416
      angle_max: 3.1416
      angle_increment: 0.0087
      scan_time: 0.3333
      range_min: 0.20
      range_max: 10.0
      use_inf: true
      
      #concurrency_level affects number of pc queued for processing and the number of threadsused
      # 0: Detect number of cores
      # 1: Single threaded
      # 2: inf : Parallelism level
      concurrency_level: 1
    </rosparam>
  </node>
</launch>